//////////// COLOR TOKENS TOKENS //////////
$color-000:         #ffffff;
$color-001:         #333333;
$color-002:         #8d8d8d;
$color-003:         #e8e8e8;
$color-004:         #e11c4b;
$color-005:         #dddddd;
$color-006:         #f4f4f4;
$color-007:         #d535e3;
$color-008:         #6f74e4;
$color-009:         #0052a4;
$color-010:         #7571e5;
$color-011:         #020202;
$color-012:         #1e216d;
$color-013:         #01b9d5;
$color-014:         #00a5b7;
$color-015:         #56c0c7;
$color-016:         #e7ebec;
$color-017:         #ed1c24;
$color-018:         #768893;
$color-019:         #939393;
$color-020:         #000000;

///////////////// Document colors /////////////////
///////////////// Text Styles /////////////////
///////////////// Paint Styles /////////////////
